<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Sign Up to Find Your Taunters
      </h1>
      <h2 class="subtitle has-text-centered">
        And Roast'Em Back
      </h2>
    </div>
  </div>
</section>
<div class="columns is-centered">
  <div class="column is-half">
    <%= render 'posts/form' %>
    <%= render 'posts/feed' %>
  </div>
</div>